.btn-twitter{
    background:#00acee;
    border-color:#009ad5;
    color:white;
}
.btn-facebook{
    background:#4868ac;
    border-color:#314776;
    color:white;
}
.btn-pinterest{
    background:#bc2f26;
    border-color:#b62f26;
color:white;
}

.jumbotron{
    background-image:url("../images/fruit-and-veg.jpg");
    background-size:cover;
    background-attachment: fixed;
    min-height: 600px;
    color:white;

}
.motto{
   color:mediumaquamarine;
   font-size: 1.5rem; 
}